@inherits NewNftTemplateFormModel

<div id="CreateNewNftFormContainer" class="container-fluid justify-content-around row align-items-center pt-3">

    @*<label for="NewNftTemplateName">NFT Template Name: </label>
    <Input id="NewNftTemplateName" @bind="@CurrentTemplateForm.Name" />

    <label for="NewNftTemplateSymbol">NFT Template Symbol: </label>
    <Input id="NewNftTemplateSymbol" @bind="@CurrentTemplateForm.Symbol" />

    <label for="NewNftTemplateMintLimit">NFT Template Mint Limit: </label>
    <Input id="NewNftTemplateMintLimit" @bind="@CurrentTemplateForm.MintLimit" />

    <label for="NewNftTemplateAttachedTokens">NFT Template Attached Token Amount: </label>
    <Input id="NewNftTemplateAttachedTokens" @bind="@CurrentTemplateForm.AttachedTokens" />*@

    @*<button type="button" class="btn btn-primary" @onclick="">
        Create New NFT
    </button>*@

</div>
