@inherits DocumentComponentModel

<div>
  @switch (NftId)
  {

    case 1:

      <nt.Client.Features.WebThree.Components.NftTemplates.PurchaseOrder.PurchaseOrderTemplate />;

      break;

    case 2:

      <nt.Client.Features.WebThree.Components.NftTemplates.PurchaseRequest.PurchaseRequestTemplate />

      break;

    case 3:

      <nt.Client.Features.WebThree.Components.NftTemplates.RequestForQuotation.RequestForQuotationTemplate />;

      break;

    case 5:

      <nt.Client.Features.WebThree.Components.NftTemplates.BillOfLading.BillOfLadingTemplate />;

      break;

    case 4:

      <nt.Client.Features.WebThree.Components.NftTemplates.RequestForProposal.RequestForProposalTemplate />;

      break;

    default:
      <div class="d-flex justify-content-center p-2 m-2 bg-info">

        Please Pick an NFT!
      </div>

      break;
  }
</div>