@page "/AssetNft"
@layout AssetNftLayout;
@inherits AssetNftPageModel;
@*<NavLink class="nav-link" href="/">
      <span class="oi oi-home" aria-hidden="true"></span>Home
  </NavLink>*@


<div id="NftCountContainer" class="container ustify-content-center py-2">
  <div class="col-xs bg-danger align-self-center">
    <p> Total NfT Count</p>
      @*<TotalTokensComponent />*@
  </div>
</div>


  <button type="button" class="btn btn-primary">
    Send One or Some To Someone
  </button>


<div id="TokenDataContainer" class="d-flex bg-light text-dark text-center">

  TokenData here

</div>





