@page "/AssetNft"
@layout AssetNftLayout;
@inherits AssetNftPageModel;
@*<NavLink class="nav-link" href="/">
      <span class="oi oi-home" aria-hidden="true"></span>Home
  </NavLink>*@
<div id="NftCountContainer" class="container justify-content-center py-2">
  <div class="col-xs bg-danger">
    <div id="NftBalance" class="text-center py-2 w-25 bg-dark">
      Total NfT's
      <h3 class="mb-0 font-weight-bold"> @TotalTokens </h3>
    </div>
  </div>
</div>


  <button type="button" class="btn btn-primary">
    Send One or Some To Someone
  </button>


<div id="TokenDataContainer" class="d-flex bg-light text-dark text-center">

  TokenData here

</div>





