@page "/mintNftPage"
@layout MintNftPageLayout;
@inherits MintNftPageModel

<div id="MintNftPage" class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="bg-success text-center flex-column p-2 m-2 justify-content-center">
      <!--!-->
      <!--!--><p> Total NfT Count</p>
      <h3>@TotalNfts</h3><!--!-->
    </div>
  </div>
  <NftTypeListComponent />
  @if (FormData != null)
  {
  <button type="button" class="btn btn-danger btn-lg" @onclick=@MintNft>
   Mint The Bastid!
  </button>
  }
  <nt.Client.Features.WebThree.Components.FormConfirmationComponent FormData="@FormData" MutableDataString="@MutableDataString" />
  <nt.Client.Features.WebThree.Components.NftTemplates.DocumentComponent NftId="@CurrentNftTemplate.NftId" />
</div>