@page "/mintNftPage"
@layout AssetNftLayout;
@inherits MintNftPageModel



  <div id="MintNftPage" class="justify-content-center py-2 row">

    <div class="bg-success text-center w-25">
      <p> Total NfT Count</p>
      <h3>@TotalNfts</h3>
    </div>
    
    <NftTypeListComponent />

    @*<nt.Client.Features.WebThree.Components.NftTemplates.PurchaseOrder.PurchaseOrderTemplate />*@
  </div>

@*<button type="button" class="btn btn-primary" @onclick="@CreateNft">
    Create New NFT
</button>*@




