@inherits NftTemplateComponentModel

    <div id="NftTemplateComponent" class="container-fluid justify-content-around row align-items-center pt-3">


        @*NFT Template Name: @NFtTemplate.Name
        NFT Template Symbol: @NftTemplate.Symbol
        NFT Template Mint Limit: @NftTemplate.MintLimit
        NFT Template Attached Token Amount:@NftTemplate.AttachedTokens
       

        <button type="button" class="btn btn-primary" @onclick="@MintNft">
            Create New NFT
        </button>*@

    </div>
