@inherits AssetNftLayoutModel
<div class="main">
    <NftPageHeader />
  <div id="AssetNft" class="container-fluid d-flex flex-column justify-content-start align-content-center bg-light vh-100">
    @Body
  </div>
</div>

